<div class="card">
  <!-- Header -->
  <div class="card-header">
    <ul class="nav nav-tabs nav-tabs-sm card-header-tabs nav-overflow">
      <li class="nav-item" *ngFor="let rideType of rideTypes">
        <a class="nav-link" [ngClass]="{active: isActiveRideType(rideType)}"
           (click)="setActiveRideType(rideType)" href="javascript:;">{{rideType.name}}</a>
      </li>
    </ul>
  </div>

  <!-- Table -->
  <div class="table-responsive mb-0">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Wait Time</th>
          <th>Last Changed</th>
        </tr>
      </thead>

      <tbody class="list" *ngIf="rideTypes">
        <tr *ngFor="let ride of getActiveRideType().rides">
          <td>{{ride.name}}</td>
          <td [innerHTML]="getFormattedWaitTime(ride)"></td>
          <td>2 minutes ago</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
